* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    padding: 20px;
}

/* Wrapper styles */
#wrapper {
    max-width: 800px;
    margin: 0 auto;
}

/* Map styles */
#map {
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

/* Input box styles */
#input-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Input styles */
input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Icon styles */
i[class^="bx"] {
    font-size: 24px;
    color: #333;
    margin-left: 10px;
    cursor: pointer;
}
footer {
    position: fixed; /* Position fixée pour maintenir en bas de la page */
    bottom: 0; /* Positionnement en bas de la page */
    left: 0; /* Début de la position horizontale */
    right: 0; /* Fin de la position horizontale */
    padding: 20px; /* Espacement autour du contenu */
    text-align: center; /* Centrage du contenu */
    color: #ffffff; /* Couleur du texte (blanc) */
  }