/* CSS pour la page */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* CSS pour la carte en plein écran */
#map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Pour que la carte soit en arrière-plan */
}

/* CSS pour la section des entrées en haut de la page */
.top-section {
    background-color: rgba(255, 255, 255, 0.5); /* Fond transparent */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
    max-width: 600px; /* Limiter la largeur pour centrer la boîte d'entrée */
    margin: 0 auto; /* Centrer horizontalement */
    margin-top: 50px; /* Marge supérieure pour laisser de l'espace avec la carte */
}
