body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('C:\\Users\\douaa\\Desktop\\app\\web.benhila\\static\\luminy.jpeg') no-repeat;
    background-size: cover;
    background-position: center;


}

.wrapper{
    width: 420px;
    background-color: transparent;
    border:2px solid rgba(255, 255, 255, .2) ;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0,.1);
    border-radius: 10px;
    padding: 30px 40px;
    min-height: 80vh;
   
}
.wrapper h1{
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.input-box {
    position: relative; /* Positionnement relatif pour permettre le positionnement absolu des icônes */
    margin-bottom: 40px; /* Marge en bas pour séparer les champs */

}



.input-box input{
    width: 70%;
    height: 70%;
    background: azure;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 50px;

}

.input-box input::placeholder{
    color:black;

}

.input-box i{
    position: absolute;
    left:10px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember label input{
    accent-color: black;
    text-decoration: none;
}

.wrapper .btn{
    width: 93%;
    height: 55px;
    background:rgba(15, 157, 232) ;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;


}