/* Ajoutez vos styles personnalisés ici */

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #ffeba7;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(campus.jpg);
  background-position: center;
  background-size: cover;
  padding-bottom: 50px; /* Pour compenser la hauteur du footer */
}

footer {
  position: fixed; /* Position fixée pour maintenir en bas de la page */
  bottom: 0; /* Positionnement en bas de la page */
  left: 0; /* Début de la position horizontale */
  right: 0; /* Fin de la position horizontale */
  padding: 20px; /* Espacement autour du contenu */
  text-align: center; /* Centrage du contenu */
  color: #ffffff; /* Couleur du texte (blanc) */
}

.my-login-section {
  padding-top: 100px; /* Pour éviter que le contenu ne soit caché par le header */
}

.my-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.my-login-row {
  display: flex;
  justify-content: space-between; /* Espacement entre les boîtes de sign up et de login */
  align-items: center;
}

.my-login-col-6 {
  width: 48%; /* Ajustement de la largeur des boîtes de sign up et de login */
  height: 400px; /* Ajustement de la hauteur des boîtes de sign up et de login */
  margin: 40px; /* Espacement horizontal entre les boîtes */
}

.my-section {
  width: 100%;
  padding: 20px;
}

.my-signup-box,
.my-login-box {
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
  padding: 20px;
}

.my-form-group {
  position: relative;
  margin-bottom: 20px;
}

.my-form-style {
  width: 95%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 16px;
}



.my-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffeba7;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.my-btn:hover {
  background-color: #000;
  color: #ffeba7;
}

.alert-container {
  width: 100%; /* Largeur complète pour contenir les alertes */
  position: absolute; /* Position absolue pour placer en haut du container */
  top: 0;
  left: 0;
  text-align: center; /* Centrer le texte des alertes */
  z-index: 1000; /* S'assurer que les alertes sont au-dessus des autres éléments */
}

.alert {
  padding: 10px;
  color: white;
  margin-top: 10px; /* Ajouter un peu d'espace en haut */
  display: inline-block; /* Affichage en ligne pour mieux contrôler la taille */
}

.alert.error {
  background-color: #f44336; /* Rouge pour les erreurs */
  text-align: center;
}

.alert.success {
  background-color: #4CAF50; /* Vert pour les succès */
}
