<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>Ma page d'acceuil</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/home.css">
    </head>

    <body>
        <div class="header">
            <nav>
                <img src="logo_amu.png" alt="logo université" >
                <div class ="nav_info">
                    <ul>
                      <li>HOME</li>
                      <li>REGISTER/LOGIN</li>
                      <li>MAP</li> 
                      <li>LOGOUT</li>
                    </ul>
                </div>
            </nav>
            <div class="text-box">
                <h1>LUMINY'S MAP</h1>
                <p> Bienvenue sur le site de navigation de notre université ! <br> Vous êtes ici pour explorer 
                    notre campus virtuel et trouver votre chemin facilement</p>
            </div>
        </div>
    </body>
</html>
