<!DOCTYPE html>
<html lang = "fr">
    <head>
        <title>Ma page d'acceuil</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/home.css">
    </head>

    <body>
        {% include 'navbar.html' %}
        <div class="header">
            <div class="text-box">
                <h1>LUMINY'S MAP</h1>
                <p> Bienvenue sur le site de navigation de notre université ! <br> Vous êtes ici pour explorer 
                    notre campus et trouver votre chemin facilement</p>
            </div>
        </div>
    </body>
</html>
