<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>Page de connexion</title> 
        <link rel="stylesheet" href="../static/home.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!--lien vers les icones-->
    </head>

    <body>
        <div class="wrapper">
            <form action="/" method="post"> <!-- j'ai pas compris cette méthode-->
                <h1>Luminy's map - Service d'authentification</h1>

                <div id="error-message"> <!--balise pour manipuler si un des entrées est incorrecte-->
                    {% if error_message %}
                    <p>{{ error_message }}</p> 
                    {% endif %}
                </div>

                <div class="input-box">
                    <input type="text" name="user_id" placeholder="Identifiant" >  
                    <i class='bx bx-user'></i>
                </div>

                <div class="input-box">
                    <input type="password" name="password" placeholder="Mot de passe" >
                    <i class='bx bx-key'></i>
                </div>
    
                <button type="submit" class="btn">Se Connecter</button>
            </form>
            
        </div>
    </body>
</html>