<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page de connexion</title>
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>

    {% include 'navbar.html' %}
  
  
  <div class="my-login-section">
    <div class="my-login-container">
      <div class="my-login-row my-full-height my-justify-content-center">
        <div class="my-login-col-6 my-text-center my-align-self-center my-py-5">
          <div class="my-section my-pb-5 my-pt-5 my-pt-sm-2 my-text-center">
            <div class="my-signup-box">
              <h4 class="mb-3 pb-3">Sign Up</h4>
              <form method="POST" action="{{ url_for('signup') }}">
                <div class="my-form-group">
                  <input type="text" name="username" class="my-form-style" placeholder="Nom d'utilisateur">
                </div>      
                <div class="my-form-group mt-2">
                  <input type="password" name="password" class="my-form-style" placeholder="Mot de passe">
                </div>
                <button type="submit" class="my-btn mt-4">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
        <div class="my-login-col-6 my-text-center my-align-self-center my-py-5">
          <div class="my-section my-pb-5 my-pt-5 my-pt-sm-2 my-text-center">
            <div class="my-login-box">
              <h4 class="mb-4 pb-3">Log In</h4>
              <form method="POST" action="{{ url_for('login_page') }}">
                <div class="my-form-group">
                  <input type="text" name="username" class="my-form-style" placeholder="Nom d'utilisateur">
                </div>  
                <div class="my-form-group mt-2">
                  <input type="password" name="password" class="my-form-style" placeholder="Mot de passe">
                </div>
                <button type="submit" class="my-btn mt-4">Log In</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>© 2024 Université Luminy</p>
  </footer>
</body>
</html>
