<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="../static/navbar.css"> 
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='logo_amu.png') }}" alt="logo université">
        <div class ="nav_info">
            <ul>
              <li><a href="/">HOME</a></li>
              <li><a href="{{ url_for('login_page') }}">SIGN-UP / LOG-IN</a></li>
              {% if user.is_authenticated %}
              <li><a href="{{ url_for('carte') }}">MAP</a></li> 
              <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
              {% endif %}
              
            </ul>
        </div>
    </nav>
</body>
</html>
